@{
    ViewBag.Title = "About";
}

<div class="row" style="background-color:antiquewhite; width:100%">
    Заголовок
</div>
<!--------------------------------->
<div class="row" >
    <div style="background-color:azure; width:10%; height:800px; float:left"></div>
    <div style="background-color:aliceblue; width:10%; height:800px; float:left"></div>
    <div style="background-color:azure; width:10%; height:800px; float:left"></div>
    <div style="background-color:aliceblue; width:10%; height:800px; float:left"></div>
    <div style="width:60%; height:800px; float:left"></div>
</div>
<!--------------------------------->
<div class="row" style="background-color:antiquewhite; width:100%;">
    инфо
</div>