@model SnippetWebEditor.Controllers.ViewModel

@{
    ViewBag.Title = "Table";
}

<h2>@Model.Title</h2>

@foreach (var chList in Model.Table)
{
    <div style="width:10%; float:left">
        @Html.ActionLink("Add...", "AddItem", new { id= chList.Parts[0].ItemId })
        <br/><br/>
        @foreach (var item in chList.Parts)
        {
            @Html.ActionLink(item.Title, "Table", new {id = item.Id });
            <br />
        }
    </div>
}
<div>
    <div> @Model.Text</div>
</div>